
.consultant-info-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 50px;
    height: 20%;
    width: 30rem;
}

h2{
    margin-top:1rem;
}

.consultant-button{
    background: rgba(59, 130, 246, 0.95);
    font-family: "Montserrat", sans-serif;
    width:7rem;
    max-height:6rem;
    margin:0.5rem;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.profile-icon{
    max-height: 50%;
    width: 30px;
}

.back-button{
    background-color: red;
    margin-bottom: 1rem;
}

.frame-content {   
    font-family: "Montserrat", sans-serif !important;
    }