@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(200, 200, 200, 0.8);
    height:27rem;
    width:20rem;
    border-radius: 4rem;
    font-family: "Montserrat", sans-serif;
}

.logo{
    padding: 0.5rem;
    object-fit: cover;
    width: 60%;
    height: 60px;
}

h2{
    margin: 1rem;
    margin-top: 0.5rem;
    font-size: 6rem;
}

.login-title {
    font-size: 3rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 75%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    font-family: "Montserrat", sans-serif;
}

.login-input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.login-button {
    width: 80%;
    background-color: #3b82f6;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
    background-color: #2563eb;
}

.register-link {
    margin-top: 0rem;
    color: #6b7280;
}

.register-text {
    color: #3b82f6;
    text-decoration: none;
}

.register-text:hover {
    text-decoration: underline;
}


  