.post-notifs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
    min-width: 25rem;
}

.data-change{
    width:50%;
}