body{
    background-image: url("/src/pages/styles/images/BGpic.jpg");
    background-size: cover;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:45rem;
    width:30rem;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 4rem;
    font-family: "Montserrat", sans-serif;
    
}

.logo{
    padding: 0.5rem;
    object-fit: cover;
    width: 60%;
    height: 70px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;

}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 80%;
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;

}

label {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

input:focus, select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

button {
    width: 60%;
    background-color: #3b82f6;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 1rem;
}

button:hover {
    background-color: #2563eb;
}

.login-link {
    margin-top: 0rem;
    color: #6b7280;
}
