.submit-expense-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 50px;
    width: 30rem;
    height:35rem;
}

.logo{
    width:100%;
}

.submit{
    width:30%;
}

.submit:hover{
    width: 40%;
    background-color: #2563eb;
}

.description-textarea{
    font-family: "Montserrat", sans-serif;
    width: 20rem;
    height:5rem;
    resize: "none"; 
    overflow: "hidden";
    background-color: black;
    padding:10px;
    border-radius: 15px;
}

.back-{
    background-color: red;
    width:50%;
    font-family: "Montserrat", sans-serif;

}
.back-:hover{
    background-color: #bf0706;
    color: white;
    width:60%;
}